
.logButton {
    background-color: rgb(253, 55, 55);
    margin-top: 1.5em;
    height: 2.5em;
    border-radius: 5px;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.logButton:hover {
    transition: 1s;
    background-color: darkred;
}

.errorMessage {
    color: rgb(177, 2, 2);
}

.z1 {
    display: none;
}

.welcomeBox1 {
    height: 35vh;
    color: rgb(253, 55, 55);
}

.welcomeGIF {
    margin-top: 1em;
    height: 12rem;
    width: 20rem;
    border-radius: 10px;
    border: 1px solid blue;
}

@media (min-width: 992px){
    .z1 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        right: -1em;
    }
}

@media (min-width: 1200px){
    .z1 {
        right: 7em;
    }
}

@media (min-width: 1400px){
    .z1 {
        right: 17em;
    }
}

@media (min-width: 1700px){
    .z1 {
        right: 20em;
    }
}

@media (min-width: 1850px){
    .z1 {
        right: 24em;
    }
}