.z1 {
    display: none;
}

@media (min-width: 992px){
    .z1 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        right: -1em;
    }
}

@media (min-width: 1200px){
    .z1 {
        right: 7em;
    }
}

@media (min-width: 1400px){
    .z1 {
        right: 17em;
    }
}

@media (min-width: 1700px){
    .z1 {
        right: 20em;
    }
}

@media (min-width: 1850px){
    .z1 {
        right: 24em;
    }
}