body {
    background-image: url('../image/bg6.png');
    background-size: cover;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.homeContainer {
    height: 100%;
}

.home1Container {
    margin-top: 3em;
    height: 22em;
    background-image: url('../image/futurama-spaceship.gif');
    background-size: cover;
    padding: 1em;
    border: 1px solid blue;
    border-radius: 10px;
}

.logRegContainer {
    background-color: rgba(173, 173, 173, 0.589);
    padding: 1em;
    border: 1px solid blue;
    border-radius: 10px;
    position: relative;
}

.logRegButton {
    margin-top: 1em;
}

.z1 {
    display: none;
}

.z2 {
    display: none;
}

.z3 {
    display: none;
}

.hourGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.hourContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 14em;
    height: 2.5em;
    background-color: rgba(173, 173, 173, 0.589);
    border-radius: 10px;
    border: 1px solid blue;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.hourContainer:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.doctorContainer {
    width: 10em;
    height: 10em;
    background-color: rgba(173, 173, 173, 0.589);
    border-radius: 50%;
}

.doctorContainer:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.doctorIcon {
    width: 9em;
}

.doctorIcon2 {
    width: 13em;
}

.rowSpace {
    gap: 2em;
    margin: 1em;
}

.treatmentContainer {
    width: 6em;
    height: 6em;
    background-color: rgba(173, 173, 173, 0.589);
    border-radius: 15px;
}

.treatmentContainer:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.treatmentIcon {
    height: 5em;
}


@media (min-width: 576px){}

@media (min-width: 768px){}

@media (min-width: 992px){
    .z1 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        right: -1em;
    }

    .z2 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        left: -1em;
        top: 10em;
    }

    .z3 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        top: 25em;
        right: -1em;
    }
}

@media (min-width: 1200px){
    .z1 {
        right: 7em;
    }

    .z2 {
        left: 7em;
    }

    .z3 {
        right: 7em;
    }
}

@media (min-width: 1400px){
    .z1 {
        right: 17em;
    }

    .z2 {
        left: 15em;
    }

    .z3 {
        right: 10em;
    }
}

@media (min-width: 1700px){
    .z1 {
        right: 20em;
    }

    .z2 {
        left: 22em;
    }

    .z3 {
        right: 16em;
    }
}

@media (min-width: 1850px){
    .z1 {
        right: 24em;
    }

    .z2 {
        left: 24em;
    }

    .z3 {
        right: 18em;
    }
}