
.registerSendDeac {

    height: 2em;
    width: 100%;
    background-color: lightgray;
    border: 1px solid white;
    border-radius: 0.2em;
    color: white;

    margin-top: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.registerSendAct {

    cursor: pointer;
    background-color: rgb(253, 55, 55);
    border: 1px solid darkred;
}

.errorMessage {
    color: rgb(177, 2, 2);
}

.registerSendAct:hover {

    transition: 1s;
    background-color: darkred;
}

/* Z2 IMAGE */

.z2 {
    display: none;
}

@media (min-width: 992px){
    .z2 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        left: -1em;
        top: 10em;
    }
}

@media (min-width: 1200px){
    .z2 {
        left: 7em;
    }
}

@media (min-width: 1400px){
    .z2 {
        left: 15em;
    }
}

@media (min-width: 1700px){
    .z2 {
        left: 22em;
    }
}

@media (min-width: 1850px){
    .z2 {
        left: 24em;
    }
}