
.NavBar{
    height: 10vh;
}

.navBar1{
    align-items: center;
}

.logo1 {
    margin-right: 0.5em;
}

@media (max-width: 386px){
    .navTitle {
        display: none;
    }
}

@media (min-width: 576px){
    .NavBar{
        height: 9vh;
    }
}

@media (min-width: 768px){
    .NavBar{
        height: 8vh;
    }
}

@media (min-width: 992px){
    .NavBar{
        height: 6vh;
    }
}