.deleteButton {
    background-color: rgb(253, 55, 55);
    margin-top: 1.5em;
    height: 2.5em;
    width: 10em;
    border-radius: 5px;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.deleteButton:hover {
    transition: 1s;
    background-color: darkred;
}