.deleteButton {
    background-color: rgb(253, 55, 55);
    margin-top: 1.5em;
    margin-bottom: 0.25em;
    height: 2.5em;
    width: 10em;
    border-radius: 5px;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.deleteButton:hover {
    transition: 1s;
    background-color: darkred;
}

.addRoleContainer {
    background-color: rgba(4, 104, 253, 0.336);
    width: 20%;
    border-radius: 10px;
    border: 1px solid rgb(253, 55, 55);
}

.roleIcon {
    margin: 1em;
    height: 4em;
}

.roleDiv {
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 25px;
    margin: 0.25em;
    cursor: pointer;
}

.popoverRole {
    margin-top: -1em;
}

.roleDiv:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.roleDivChoosen{
    background-color: rgb(253, 55, 55);
}