.hourGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.hourContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 14em;
    height: 2.5em;
    background-color: rgba(173, 173, 173, 0.589);
    border-radius: 10px;
    border: 1px solid blue;
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

.hourContainer:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.doctorContainer {
    width: 10em;
    height: 10em;
    background-color: rgba(173, 173, 173, 0.589);
    border-radius: 50%;
}

.doctorContainer:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.doctorIcon {
    width: 9em;
}

.doctorIcon2 {
    width: 13em;
}

.rowSpace {
    gap: 2em;
    margin: 1em;
}

.treatmentContainer {
    width: 6em;
    height: 6em;
    background-color: rgba(173, 173, 173, 0.589);
    border-radius: 15px;
}

.treatmentContainer:hover {
    background-color: rgba(29, 118, 252, 0.589);
}

.treatmentIcon {
    height: 5em;
}
