.home1Container {
    margin-top: 3em;
    height: 12em;
    background-image: url('../../image/futurama-spaceship.gif');
    background-size: cover;
    padding: 1em;
    border: 1px solid blue;
    border-radius: 10px;
}

.z3 {
    display: none;
}

.welcomeBox {
    color: rgb(66, 66, 250);
}

.welcomeContainer {
    margin: 1em;
}

.welcomeBox {
    background-color: rgba(203, 232, 255, 0.589);
    border: 1px solid blue;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 1em;

}

.appointmentBtn {
    margin-top: 1em;
}

@media (min-width: 576px){
    .home1Container {
        height: 18em;
    }
}

@media (min-width: 992px){
    .home1Container {
        height: 22em;
    }
    .z3 {
        display: block;
        position: absolute;
        z-index: 1;
        height: 20em;
        top: 15em;
        right: 0em;
    }
}

@media (min-width: 1200px){
    .z3 {
        right: 7em;
    }
}

@media (min-width: 1400px){
    .z3 {
        right: 10em;
    }
}

@media (min-width: 1700px){
    .z3 {
        right: 16em;
    }
}

@media (min-width: 1850px){
    .z3 {
        right: 18em;
    }
}