.userBox1 {
    width: 20rem;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 5px;
    cursor: pointer;
}

.z5 {
    height: 25em;
    position: absolute;
    left: -16em;
    top: 10em;
    display: none;
}

.z6 {
    height: 25em;
    position: absolute;
    /* left: -1em; */
    bottom: -20em;
    z-index: -1;
    display: none;
}

@media (min-width: 576px){
    .userBox1 {
        width: 28rem;
    }
}

@media (min-width: 768px){
    .z5 {
        display: block;
    }

    .z6 {
        display: block;
    }

    .userBox1 {
        width: 30rem;
    }
}

@media (min-width: 1200px){
    .z6 {
        bottom: -25em;
    }
}

@media (min-width: 1400px){
    .z6 {
        bottom: -20em;
    }
}

@media (min-width: 1500px){
    .z6 {
        bottom: -25em;
    }
}