body {
    background-image: url('../image/bg6.png');
    background-size: cover;
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}



.logRegContainer {
    background-color: rgba(203, 232, 255, 0.589);
    padding: 1em;
    border: 1px solid blue;
    border-radius: 10px;
    position: relative;
}

/* .logRegButton {
    margin-top: 1em;
} */

